{% extends "layout.twig" %}

{% block content %}

	<section>
	  <div class="feature__hero">
		<!-- Theme Feature Widget -->
			{{widget('feature', 'featurehome', {
			'defaultBgImg': asset("images/feature-t2.jpg"),
			'positionTopPercentage': '0',
			'header': 'Where & When?',
			'strapline': '{{ profile.address }}, {{ profile.address1 }}, {{ profile.address2 }} {{ profile.postalcode }}, 28th February, 2017 at 3:30pm',
			'showBtn': true
			})|raw}}
	  </div>
	</section>
	
	<section class="main-content">
		<div class="row">
	 		<div class="small-12 columns">{{widget('content', 'mainheading', {content:'Lorum Ipsum et el deleniti atque et corrupti quos dolores quas et dolorum qui'})|raw}}</div>
	 		<div class="small-12 medium-6 columns">{{widget('content', 'maincolumn1', {content:'At vero eos et accusamus et iusto dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias laborum et dolorum fuga. Et harum quidem rerum'})|raw}}</div>
	 		<div class="small-12 medium-6 columns">{{widget('content', 'maincolumn2', {content:'Lorum quidem rerum facilis est et expedita distinctio. Nam tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.'})|raw}}</div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-6 columns">
				{{widget('gallery', 'imagegallery', {
				  'showTitle': true,
				  'showDescription': false,
				  'images':[
				    {
				      'url':asset("images/kissing.jpg"),
				      'title':'Newlyweds kissing'
				    },
				    {
				      'url':asset("images/chapel-exit.jpg"),
				      'title':'Just married leaving the chapel'
				    },
				    {
				      'url':asset("images/pair-of-rings.jpg"),
				      'title':'Wedding rings'
				    },
				    {
				      'url':asset("images/bride-with-flowers.jpg"),
				      'title':'Bride with bouquet'
				    }
				  ]
				})|raw}}
			</div>
			<div class="small-12 medium-6 columns">
				<p>{{ profile.companydescription }}</p>
				
				<p>
					{% if profile.phone %}T. {{ profile.phone }}<br />{% endif %}
					{% if profile.email %}E. {{ profile.email }}<br />{% endif %}
					{% if profile.address %}A. {{ profile.address1 }} {{ profile.address2 }} {{ profile.postalcode }}{% endif %}
				</p>
				
				<div class="row">
					<div class="small-12 medium-5 large-4 columns">
						{% if site.templateData['pageTypes': rsvp.twig] %}
							{{widget('button', 'rsvpbutton', {
							  'text': 'RSVP',
							  'align': 'widget-align-center',
							  'action': 'internal'
							})|raw}}
						{% endif %}
					</div>
					<div class="small-12 medium-7 large-8 columns">
						{% if site.templateData['pageTypes': registry.twig] %}
							{{widget('button', 'registrybutton', {
							  'text': 'Gift Registry',
							  'align': 'widget-align-center',
							  'action': 'internal'
							})|raw}}
						{% endif %}
					</div>
			</div>
		</div>
		
		<div class="row collapse">
			<div class="small-12 columns">
			    {{zone('main')|raw}}
			</div>
		</div>
				
			
	</section>
 
{% endblock %}
